html, body {
  font-family: 'Gaegu', cursive;
  color: #181818;
}

body, h1, p, div {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  background-color: rgb(215, 247, 255);
}

.header__title {
  margin-bottom: 1rem;
}

.footer {
  padding: 1.5rem;
  text-align: center;
  background-color: rgb(107, 148, 87);
}

.global-width {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.scroll-section {
  position: relative;
}

.scroll-graphics {
  position: sticky;
  top: 0;
  z-index: -10; /* for mobile z-order */
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.2);
}

.graphic-item {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
}

.graphic-image {
  max-width: 100%;
  border: 1px solid #181818;
}

.scroll-texts {
  position: relative;
  padding-bottom: 1px;
}

.step {
  text-align: center;
  margin-bottom: 70vh;
}

.step-text {
  display: inline-block;
  position: relative;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #181818;
}